@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Sayfanın tamamı scroll etmesin */
}

body {
  background: url('/img/img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  overflow: hidden; /* içerik taşmasın lütfen */
}

.card, .table {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(20px); 
  color: white;
  border: none;
}

.card-header {
  text-align: center;
  background: rgba(255, 255, 255, 0.2); 
  color: white;
}

.card-body input,
.card-body textarea {
  background: rgba(255, 255, 255, 0.1); 
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.card-body input:focus,
.card-body textarea:focus {
  background: rgba(255, 255, 255, 0.2); 
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: none; 
}

.card-body input::placeholder,
.card-body textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.table th {
  background: rgba(255, 255, 255, 0.2); 
  color: white;
  border: none;
}

.btn-success {
  background-color: #d03ea2; 
  border: none;
}

.btn-success:hover {
  background-color: #d03ea2; 
  color: white; 
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  color: black;
}

footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
}

/* SADECE TABLOYA SCROLL YAP*/
.table-wrapper {
  max-height: calc(100vh - 370px); 
  overflow-y: auto;
}


.pagination .page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
  color: white;
}
tr.highlight-row {
  background-color: rgba(246, 9, 199, 0.3) !important; /* light violet */
  border: 1px solid #fff;
}
tr.highlight-row td {
  background-color: #ffe0f7 !important;
  color: black; 
}
